.container {
	padding: 136px 32px;
	display: flex;
	flex-direction: column;
	height: 100vh;
	gap: 176px;
}

.title {
	width: 100%;
	text-align: center;

	h2 {
		font-size: 32px;
		font-weight: 700;
		color: var(--dls-white);
	}
}

.form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.input {
	width: 100%;

	label {
		display: flex;
		flex-direction: column;
		gap: 32px;
		align-items: center;

		span {
			color: var(--dls-white);
			font-size: 18px;
			font-weight: 400;
		}

		input {
			height: 48px;
			border-radius: 24px;
			padding: 0 16px;
			font-size: 16px;
			color: var(--dls-gray-300);
			width: 100%;
			background: var(--dls-white);
			border: 2px solid var(--dls-white);

			&::placeholder {
				color: var(--dls-gray-300);
			}

			&.invalid {
				border-color: var(--dls-red);
			}
		}
	}
}

.start {
	width: 100%;

	button {
		width: 100%;
		height: 48px;
		background-color: var(--dls-green);
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--dls-white);
		border: 0;
		border-radius: 24px;
		font-size: 18px;

		&:not(.loading):disabled {
			cursor: not-allowed;
			background-color: var(--dls-gray-300);
		}

		&.loading {
			opacity: 65%;
			cursor: progress;
		}
	}
}
