@font-face {
	font-family: "Palestra";
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Palestra.otf');
	src: url('/fonts/Palestra.ttf'), url('/fonts/Palestra.otf');
}

@font-face {
	font-family: "Palestra";
	font-weight: 400;
	font-style: italic;
	src: url('/fonts/Palestra Italic.otf');
	src: url('/fonts/Palestra Italic.ttf'), url('/fonts/Palestra Italic.otf');
}

@font-face {
	font-family: "Palestra";
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/Palestra Bold.otf');
	src: url('/fonts/Palestra Bold.ttf'), url('/fonts/Palestra Bold.otf');
}

@font-face {
	font-family: "Palestra";
	font-weight: 700;
	font-style: italic;
	src: url('/fonts/Palestra Bold Italic.otf');
	src: url('/fonts/Palestra Bold Italic.ttf'), url('/fonts/Palestra Bold Italic.otf');
}

body {
	overflow-x: hidden;
	background-color: rgb(255, 255, 255);
	font: 400 14px 'Palestra';
	user-select: none;
}

a,
a:hover,
a:active {
	text-decoration: none;
}

img {
	pointer-events: none;
}