* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	overflow-x: hidden;
	background-color: rgb(255, 255, 255);
	font: 400 14px 'Palestra';
	user-select: none;
}

a,
a:hover,
a:active {
	text-decoration: none;
}

img {
	pointer-events: none;
}

a,
button,
input,
textarea {
	font-family: 'Palestra';
}

button,
input,
textarea {
	outline: none;
}