$stroke: 6px;

.container {
	position: relative;
	width: 120px;
	height: 120px;
}

.value {
	position: absolute;
	top: 50%;
	left: 50%;
	color: var(--dls-white);
	font-size: 32px;
	border-radius: 0.25em;
	transform: translate(-50%, -50%);
}
